*.iml
.gradle
.idea
/apksig/build
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxxgi
script-diagrams/venv/*
**/*.realm
**/__pychache__/*